body{
    background-color: aqua;
    text-align: center;
}

#g{
    height: 83px;
    width: 50px;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
}

#g:hover{
    background-color: brown;
}
#abc{
    height: 33px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

#abc:hover{
    background-color: rgb(6, 248, 50);
}
